<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <main>
    <h1>{{title}}</h1>
    {% block content %}{{ content | safe }}{% endblock %}
  </main>

  <nav>
    <h2>Navigation</h2>
    <ul>
      {%- for page in collections.all -%}
        <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </nav>

  <script type="module">
   import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
   mermaid.initialize({ startOnLoad: false });
    (async function(){
      await mermaid.run({
        querySelector: '.mermaid .content > pre',
      });
    }())
  </script>

</body>
</html>
